In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('laptops.csv')
data.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [4]:
## Normalize the column names
data.columns = data.columns.str.replace(' ','_').str.lower()
data.head()

,laptop,status,brand,model,cpu,ram,storage,storage_type,gpu,screen,touch,final_price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

Next, use only the following columns:

'ram',
'storage',
'screen',
'final_price'

In [5]:
col_list = ['ram','storage','screen','final_price']
df = data[col_list]
df.head()

   ram  storage  screen  final_price
0    8      512    15.6      1009.00
1    8      256    15.6       299.00
2    8      256    15.6       789.00
3   16     1000    15.6      1199.00
4   16      512    15.6       669.01

### Q1. Which column has missing values?

In [6]:
df.ram.isnull().sum()
## 0

np.int64(0)

In [7]:
df.storage.isnull().sum()
## 0

np.int64(0)

In [8]:
df.screen.isnull().sum()
## 4

np.int64(4)

In [9]:
df.final_price.isnull().sum()
## 0

np.int64(0)

### A1: 'Screen' has missing values

### Q2: What's the median (50% percentile) for variable 'ram'?

8, 
16, 
24, 
32,

In [10]:
df.describe()

               ram      storage       screen  final_price
count  2160.000000  2160.000000  2156.000000  2160.000000
mean     15.413889   596.294444    15.168112  1312.638509
std       9.867815   361.220506     1.203329   911.475417
min       4.000000     0.000000    10.100000   201.050000
25%       8.000000   256.000000    14.000000   661.082500
50%      16.000000   512.000000    15.600000  1031.945000
75%      16.000000  1000.000000    15.600000  1708.970000
max     128.000000  4000.000000    18.000000  7150.470000

### A2: Median RAM: 16

## Prepare and split the dataset
- Shuffle the dataset (the filtered one you created above), use seed 42.
- Split your data in train/val/test sets, with 60%/20%/20% distribution.
Use the same code as in the lectures

In [11]:
### shuffle with seed 42
import random
shuffled_df = df.sample(frac=1, random_state=42).reset_index(drop=True)
shuffled_df

      ram  storage  screen  final_price
0      32     1000    15.6      1123.29
1       4       64    14.1       201.05
2      32     1000    14.0       997.74
3      16      512    13.3      1016.00
4      32     1000    16.0      2739.00
...   ...      ...     ...          ...
2155    8      512    15.0      1838.29
2156    8      256    15.6       531.80
2157    8      256    13.3       765.33
2158    8      512    14.0       803.61
2159   32     1000    16.0      2102.18

[2160 rows x 4 columns]

In [12]:
### Split the data into train/val/test
from sklearn.model_selection import train_test_split
df_full_train, df_test = train_test_split(shuffled_df, test_size=0.2, random_state=42)
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=42)

#### Question 3
- We need to deal with missing values for the column from Q1.
- We have two options: fill it with 0 or with the mean of this variable.
- Try both options. For each, train a linear regression model without regularization using the code from the lessons.
- For computing the mean, use the training only!
- Use the validation dataset to evaluate the models and compare the RMSE of each option.
- Round the RMSE scores to 2 decimal digits using round(score, 2)
- Which option gives better RMSE?
Options:

- With 0
- With mean
- Both are equally good

#### Case 1: Missing with 0

In [37]:
shuffled_df_na_zero = shuffled_df.fillna(0)
shuffled_df_na_zero.screen.isnull().sum()

np.int64(0)

In [38]:
### Split the data into train/val/test
from sklearn.model_selection import train_test_split
df_full_train, df_test = train_test_split(shuffled_df_na_zero, test_size=0.2, random_state=42)
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=42)

### Extract the target vector
y_train = df_train.final_price.values
y_val = df_val.final_price.values
y_test = df_test.final_price.values

### remove target column from datasets to avoid accidental usage
del df_train['final_price']
del df_val['final_price']
del df_test['final_price']

In [39]:
### reset the index
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [40]:
X_train = df_train.values
X_train

array([[  8. , 256. ,  13. ],
       [  8. , 512. ,  15.6],
       [  8. ,  64. ,  17.3],
       ...,
       [ 16. , 512. ,  15.6],
       [  8. , 512. ,  15.6],
       [ 16. , 512. ,  14. ]], shape=(1296, 3))

In [41]:
X_val = df_val.values
X_test = df_test.values

In [42]:
from sklearn.linear_model import LinearRegression
### Train the Linear Regression
lr_na_zero = LinearRegression()
lr_na_zero.fit(X_train, y_train)
y_pred = lr_na_zero.predict(X_val)
y_pred

array([ 671.79972671, 1777.09759824, 1252.42819037, 1729.73645555,
        766.5220121 , 1771.17745541, 1777.09759824, 1794.85802675,
       1240.69110189,  731.00115508, 4638.92940427, 1252.42819037,
       1320.509833  , 1797.81809817,  922.19094779, 1777.09759824,
       1252.42819037, 1729.73645555,  703.51141809, 1252.42819037,
       1299.78933307,  922.19094779, 1714.19933166,  499.88835162,
       1729.73645555,  381.48549488, 2390.21094072,  719.16086941,
       1299.78933307, 1679.41524143,  922.19094779,  922.19094779,
        671.79972671,  671.79972671, 1299.78933307,  969.55209048,
       1252.42819037, 2339.8897266 , 1777.09759824,  922.19094779,
        969.55209048,  969.55209048, 1317.54976158, 1252.42819037,
       2339.8897266 , 1299.78933307,  671.79972671, 2378.37065504,
        922.19094779,  405.99164372,  922.19094779, 1299.78933307,
        957.815002  ,  922.19094779, 1729.73645555, 1729.73645555,
       2437.57208341, 1252.42819037, 2348.76994086, 2390.21094072,
       1252.42819037, 1320.509833  ,  671.79972671, 3356.46136237,
       1299.78933307, 1252.42819037, 2390.21094072, 1299.78933307,
        922.19094779, 2390.21094072,  506.68110542, 1729.73645555,
       1252.42819037, 1777.09759824, 1399.49921296, 1717.89616987,
       1240.69110189,  922.19094779,  907.3905907 , 1252.42819037,
        922.19094779, 1299.78933307,  969.55209048,  922.19094779,
       1252.42819037, 1729.73645555, 1287.94904739, 1679.41524143,
       1299.78933307,  671.79972671, 2390.21094072, 3317.98043393,
       1320.509833  , 1299.78933307,  922.19094779, 1299.78933307,
       1202.10697626, 1252.42819037, 1729.73645555,  969.55209048,
       1007.95711213,  922.19094779,  739.88136934, 2348.76994086,
        671.79972671,  671.79972671, 1320.509833  ,  984.35244758,
        318.88768961,  922.19094779, 4638.92940427, 1729.73645555,
        671.79972671,  531.3674536 ,  719.16086941, 1729.73645555,
       2372.45051221,  990.27259041, 1729.73645555,  910.4538593 ,
       1237.62783328,  922.19094779,  671.79972671,  922.19094779,
        969.55209048, 1299.78933307,  671.79972671, 1797.81809817,
       1794.85802675,  969.55209048, 3356.46136237,  671.79972671,
       2390.21094072, 1037.55782632, 2437.57208341, 1777.09759824,
        922.19094779, 2378.37065504, 1777.09759824,  719.16086941,
        922.19094779,  922.19094779,  719.16086941, 1210.98719051,
       1350.11054718, 1299.78933307, 2378.37065504, 2390.21094072,
        907.3905907 , 1210.98719051, 1252.42819037, 1777.09759824,
       1729.73645555,  922.19094779, 2339.8897266 , 1299.78933307,
       1717.89616987, 1299.78933307, 1252.42819037, 2378.37065504,
       1252.42819037, 2378.37065504,  922.19094779,  922.19094779,
        428.84663758, 2378.37065504,  922.19094779, 1202.10697626,
       1299.78933307, 4647.80961853, 2390.21094072, 1717.89616987,
       2339.8897266 , 1237.62783328, 1252.42819037, 1252.42819037,
        671.79972671,  719.16086941, 1729.73645555,  671.79972671,
        719.16086941,  531.3674536 , 1252.42819037,  922.19094779,
        671.79972671,  716.20079799, 1288.05224458, 1729.73645555,
       1299.78933307,  922.19094779, 2348.76994086, 1252.42819037,
       1729.73645555, 1679.41524143, 1777.09759824, 1252.42819037,
       3356.46136237, 1252.42819037, 1299.78933307, 1202.10697626,
       2378.37065504, 3326.86064818, 1252.42819037, 2378.37065504,
       1240.69110189,  499.88835162, 1240.5879047 , 2390.21094072,
       2339.8897266 , 2339.8897266 , 2390.21094072,  671.79972671,
        671.79972671,  671.79972671, 1252.42819037, 1252.42819037,
       1777.09759824,  922.19094779,  907.3905907 , 1252.42819037,
        990.27259041,  671.79972671, 1299.78933307, 1252.42819037,
        922.19094779, 3368.30164804, 1252.42819037, 1320.509833  ,
       1777.09759824,  922.19094779,  671.79972671, 2339.8897266 ,
       1777.09759824,  671.79972671,  671.79972671, 1317.54976158,
       2319.16922668, 2378.37065504, 1777.09759824, 1288.05224458,
        922.19094779, 1311.62961874,  671.79972671, 2339.8897266 ,
       2339.8897266 , 1252.42819037, 1002.0369693 ,  671.79972671,
       2390.21094072,  500.06855097, 1087.30956908, 1070.11861192,
        922.19094779, 1252.42819037, 1202.10697626, 1240.69110189,
        922.19094779, 1299.78933307, 1729.73645555,  922.19094779,
        748.76158359,  671.79972671, 1771.17745541, 1871.46167569,
        719.16086941, 1237.62783328, 1329.39004725, 1049.39811199,
       1252.42819037,  671.79972671,  922.19094779,  719.16086941,
        922.19094779, 1299.78933307,  593.96525887, 1729.73645555,
        836.91834801,  990.27259041, 2378.37065504, 1299.78933307,
       1729.73645555, 1240.5879047 ,  922.19094779, 1210.98719051,
        697.56775852, 1777.09759824, 1252.42819037, 2390.21094072,
        671.79972671, 1252.42819037,  922.19094779, 1252.42819037,
        593.96525887,  922.19094779, 2348.76994086, 1729.73645555,
        910.35066211, 1252.42819037,  922.19094779,  922.19094779,
        671.79972671, 1679.41524143, 1252.42819037, 1679.41524143,
       1252.42819037, 1252.42819037, 1299.78933307, 1252.42819037,
        614.6857588 , 1237.62783328, 1717.89616987, 1679.41524143,
       1711.97602704, 1729.73645555, 2425.73179774,  671.79972671,
        614.6857588 ,  922.19094779,  739.88136934, 1252.42819037,
        386.96933224, 2431.65194058, 1252.42819037, 1284.98897598,
       2339.8897266 , 1729.73645555,  731.00115508,  922.19094779,
       1729.73645555, 1240.5879047 ,  671.79972671, 2378.37065504,
        593.96525887, 1099.71932611, 1314.58969016, 2431.65194058,
       1252.42819037, 2339.8897266 , 2390.21094072,  593.96525887,
        671.79972671,  719.16086941, 1954.3436754 ,  546.60411618,
        671.79972671,  719.16086941, 1252.42819037,  671.79972671,
       1777.09759824,  671.79972671, 1729.73645555,  671.79972671,
        671.79972671, 1252.42819037, 1293.86919023, 1729.73645555,
       1320.509833  , 1252.42819037, 1729.73645555,  428.84663758,
       1252.42819037, 1252.42819037, 1252.42819037, 1252.42819037,
        719.16086941,  671.79972671, 2437.57208341,  671.79972671,
       1729.73645555, 1777.09759824,  531.3674536 , 1729.73645555,
        546.60411618, 1287.94904739,  792.6963807 ,  990.27259041,
        552.08795353,  531.3674536 ,  731.00115508, 1049.39811199,
        366.24883231, 1299.78933307, 1252.42819037, 1912.90267554,
       2437.57208341, 1240.5879047 ,  739.88136934,  719.16086941,
       1202.10697626,  719.16086941,  671.79972671,  671.79972671,
       2390.21094072,  922.19094779, 1252.42819037, 1299.78933307,
        500.06855097, 1679.41524143, 1729.73645555,  922.19094779,
       1252.42819037,  614.6857588 , 1202.10697626, 1288.05224458,
       1252.42819037,  969.55209048,  748.76158359, 1252.42819037,
       1202.10697626, 2339.8897266 , 1777.09759824,  405.99164372,
       2378.37065504, 1729.73645555, 4647.80961853,  922.19094779,
       1202.10697626, 1299.78933307,  871.86973367, 1679.41524143,
        671.79972671, 2390.21094072,  990.27259041, 1252.42819037,
        822.76336905, 1252.42819037,  922.19094779,  922.19094779,
       2390.21094072,  969.55209048, 1729.73645555, 1237.62783328])

In [ ]:
### RMSE of Validation vs Training
from sklearn.metrics import mean_squared_error
rmse_lr_na_zero = round(np.sqrt(mean_squared_error(y_val, y_pred)),2)
rmse_lr_na_zero
### 616.83

np.float64(616.83)

### Case 2: Mean of Training

In [27]:
### Split the data into train/val/test
from sklearn.model_selection import train_test_split
df_full_train, df_test = train_test_split(shuffled_df, test_size=0.2, random_state=42)
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=42)

### Extract the target vector
y_train = df_train.final_price.values
y_val = df_val.final_price.values
y_test = df_test.final_price.values

### remove target column from datasets to avoid accidental usage
del df_train['final_price']
del df_val['final_price']
del df_test['final_price']

### reset the index
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [28]:
### Count missing Screen in each df 
from IPython.display import display

display(df_train.screen.isnull().sum()) 
display(df_val.screen.isnull().sum())
display(df_test.screen.isnull().sum())

np.int64(2)

np.int64(1)

np.int64(1)

In [29]:
screen_mean = df_train.screen.mean()
screen_mean

np.float64(15.179598145285937)

In [30]:
df_train.screen = df_train.screen.fillna(screen_mean)
df_val.screen = df_val.screen.fillna(screen_mean)
df_test.screen = df_test.screen.fillna(screen_mean)

In [31]:
### Check if there are any missing Screen in each df 
from IPython.display import display

display(df_train.screen.isnull().sum()) 
display(df_val.screen.isnull().sum())
display(df_test.screen.isnull().sum())

np.int64(0)

np.int64(0)

np.int64(0)

In [32]:
### Extract the Feature Matrices
X_train = df_train.values
X_val = df_val.values
X_test = df_test.values

In [33]:
from sklearn.linear_model import LinearRegression
### Train the Linear Regression
lr_na_mean = LinearRegression()
lr_na_mean.fit(X_train, y_train)
y_pred = lr_na_mean.predict(X_val)
y_pred

array([ 675.09713469, 1773.06972761, 1254.51071281, 1729.8097131 ,
        761.61716371, 1767.66222579, 1773.06972761, 1789.29223305,
       1242.82303248,  729.17215283, 4638.27769479, 1254.51071281,
       1316.69698367, 1791.99598396,  924.43431517, 1773.06972761,
       1254.51071281, 1729.8097131 ,  702.77357542, 1254.51071281,
       1297.77072732,  924.43431517, 1265.87733177,  493.54038191,
       1729.8097131 ,  385.39034563, 2389.96250839,  718.3571492 ,
       1297.77072732, 1683.84594768,  924.43431517,  924.43431517,
        675.09713469,  675.09713469, 1297.77072732,  967.69432968,
       1254.51071281, 2343.99874297, 1773.06972761,  924.43431517,
        967.69432968,  967.69432968, 1313.99323277, 1254.51071281,
       2343.99874297, 1297.77072732,  675.09713469, 2379.14750476,
        924.43431517,  400.03893923,  924.43431517, 1297.77072732,
        956.00664934,  924.43431517, 1729.8097131 , 1729.8097131 ,
       2433.2225229 , 1254.51071281, 2352.10999569, 2389.96250839,
       1254.51071281, 1316.69698367,  675.09713469, 3353.120866  ,
       1297.77072732, 1254.51071281, 2389.96250839, 1297.77072732,
        924.43431517, 2389.96250839,  510.05893587, 1729.8097131 ,
       1254.51071281, 1773.06972761, 1399.73331545, 1718.99470947,
       1242.82303248,  924.43431517,  910.91556063, 1254.51071281,
        924.43431517, 1297.77072732,  967.69432968,  924.43431517,
       1254.51071281, 1729.8097131 , 1286.9557237 , 1683.84594768,
       1297.77072732,  675.09713469, 2389.96250839, 3317.97210421,
       1316.69698367, 1297.77072732,  924.43431517, 1297.77072732,
       1208.54694739, 1254.51071281, 1729.8097131 ,  967.69432968,
       1010.58103415,  924.43431517,  737.28340555, 2352.10999569,
        675.09713469,  675.09713469, 1316.69698367,  981.21308421,
        323.05605051,  924.43431517, 4638.27769479, 1729.8097131 ,
        675.09713469,  531.35426384,  718.3571492 , 1729.8097131 ,
       2373.74000295,  986.62058603, 1729.8097131 ,  912.74663483,
       1240.99195828,  924.43431517,  675.09713469,  924.43431517,
        967.69432968, 1297.77072732,  675.09713469, 1791.99598396,
       1789.29223305,  967.69432968, 3353.120866  ,  675.09713469,
       2389.96250839, 1037.61854322, 2433.2225229 , 1773.06972761,
        924.43431517, 2379.14750476, 1773.06972761,  718.3571492 ,
        924.43431517,  924.43431517,  718.3571492 , 1216.65820011,
       1343.73449274, 1297.77072732, 2379.14750476, 2389.96250839,
        910.91556063, 1216.65820011, 1254.51071281, 1773.06972761,
       1729.8097131 ,  924.43431517, 2343.99874297, 1297.77072732,
       1718.99470947, 1297.77072732, 1254.51071281, 2379.14750476,
       1254.51071281, 2379.14750476,  924.43431517,  924.43431517,
        428.65036014, 2379.14750476,  924.43431517, 1208.54694739,
       1297.77072732, 4646.38894751, 2389.96250839, 1718.99470947,
       2343.99874297, 1240.99195828, 1254.51071281, 1254.51071281,
        675.09713469,  718.3571492 , 1729.8097131 ,  675.09713469,
        718.3571492 ,  531.35426384, 1254.51071281,  924.43431517,
        675.09713469,  715.6533983 , 1286.08304699, 1729.8097131 ,
       1297.77072732,  924.43431517, 2352.10999569, 1254.51071281,
       1729.8097131 , 1683.84594768, 1773.06972761, 1254.51071281,
       3353.120866  , 1254.51071281, 1297.77072732, 1208.54694739,
       2379.14750476, 3326.08335693, 1254.51071281, 2379.14750476,
       1242.82303248,  493.54038191, 1243.69570918, 2389.96250839,
       2343.99874297, 2343.99874297, 2389.96250839,  675.09713469,
        675.09713469,  675.09713469, 1254.51071281, 1254.51071281,
       1773.06972761,  924.43431517,  910.91556063, 1254.51071281,
        986.62058603,  675.09713469, 1297.77072732, 1254.51071281,
        924.43431517, 3363.93586962, 1254.51071281, 1316.69698367,
       1773.06972761,  924.43431517,  675.09713469, 2343.99874297,
       1773.06972761,  675.09713469,  675.09713469, 1313.99323277,
       2325.07248662, 2379.14750476, 1773.06972761, 1286.08304699,
        924.43431517, 1308.58573095,  675.09713469, 2343.99874297,
       2343.99874297, 1254.51071281, 1005.17353234,  675.09713469,
       2389.96250839,  500.18711629, 1089.47251399, 1067.3598032 ,
        924.43431517, 1254.51071281, 1208.54694739, 1242.82303248,
        924.43431517, 1297.77072732, 1729.8097131 ,  924.43431517,
        745.39465827,  675.09713469, 1767.66222579, 1876.81099541,
        718.3571492 , 1240.99195828, 1324.80823639, 1048.43354685,
       1254.51071281,  675.09713469,  924.43431517,  718.3571492 ,
        924.43431517, 1297.77072732,  593.68855896, 1729.8097131 ,
        840.13533351,  986.62058603, 2379.14750476, 1297.77072732,
       1729.8097131 , 1243.69570918,  924.43431517, 1216.65820011,
        688.31984071, 1773.06972761, 1254.51071281, 2389.96250839,
        675.09713469, 1254.51071281,  924.43431517, 1254.51071281,
        593.68855896,  924.43431517, 2352.10999569, 1729.8097131 ,
        913.61931154, 1254.51071281,  924.43431517,  924.43431517,
        675.09713469, 1683.84594768, 1254.51071281, 1683.84594768,
       1254.51071281, 1254.51071281, 1297.77072732, 1254.51071281,
        612.61481531, 1240.99195828, 1718.99470947, 1683.84594768,
       1713.58720765, 1729.8097131 , 2422.40751927,  675.09713469,
        612.61481531,  924.43431517,  737.28340555, 1254.51071281,
        385.24232137, 2427.81502109, 1254.51071281, 1284.25197279,
       2343.99874297, 1729.8097131 ,  729.17215283,  924.43431517,
       1729.8097131 , 1243.69570918,  675.09713469, 2379.14750476,
        593.68855896, 1094.39731227, 1311.28948186, 2427.81502109,
       1254.51071281, 2343.99874297, 2389.96250839,  593.68855896,
        675.09713469,  718.3571492 , 1952.5160208 ,  550.42854445,
        675.09713469,  718.3571492 , 1254.51071281,  675.09713469,
       1773.06972761,  675.09713469, 1729.8097131 ,  675.09713469,
        675.09713469, 1254.51071281, 1292.36322551, 1729.8097131 ,
       1316.69698367, 1254.51071281, 1729.8097131 ,  428.65036014,
       1254.51071281, 1254.51071281, 1254.51071281, 1254.51071281,
        718.3571492 ,  675.09713469, 2433.2225229 ,  675.09713469,
       1729.8097131 , 1773.06972761,  531.35426384, 1729.8097131 ,
        550.42854445, 1286.9557237 ,  790.96845052,  986.62058603,
        550.28052019,  531.35426384,  729.17215283, 1048.43354685,
        366.31606502, 1297.77072732, 1254.51071281, 1914.6635081 ,
       2433.2225229 , 1243.69570918,  737.28340555,  718.3571492 ,
       1208.54694739,  718.3571492 ,  675.09713469,  675.09713469,
       2389.96250839,  924.43431517, 1254.51071281, 1297.77072732,
        500.18711629, 1683.84594768, 1729.8097131 ,  924.43431517,
       1254.51071281,  612.61481531, 1208.54694739, 1286.08304699,
       1254.51071281,  967.69432968,  745.39465827, 1254.51071281,
       1208.54694739, 2343.99874297, 1773.06972761,  400.03893923,
       2379.14750476, 1729.8097131 , 4646.38894751,  924.43431517,
       1208.54694739, 1297.77072732,  878.47054975, 1683.84594768,
        675.09713469, 2389.96250839,  986.62058603, 1254.51071281,
        812.98843095, 1254.51071281,  924.43431517,  924.43431517,
       2389.96250839,  967.69432968, 1729.8097131 , 1240.99195828])

In [ ]:
### RMSE of Validation vs Training
from sklearn.metrics import mean_squared_error
rmse_lr_na_mean = round(np.sqrt(mean_squared_error(y_val, y_pred)),2)
rmse_lr_na_mean
### 617.13

np.float64(617.13)

### A3: With 0, RMSE is better

### Question 4
- Now let's train a regularized linear regression.
- For this question, fill the NAs with 0.
- Try different values of r from this list: [0, 0.01, 0.1, 1, 5, 10, 100].
- Use RMSE to evaluate the model on the validation dataset.
- Round the RMSE scores to 2 decimal digits.
- Which r gives the best RMSE?
- If there are multiple options, select the smallest r.

Options:

- 0
- 0.01
- 1
- 10
- 100

In [44]:
shuffled_df_na_zero = shuffled_df.fillna(0)
shuffled_df_na_zero.screen.isnull().sum()

np.int64(0)

In [45]:
### Split the data into train/val/test
from sklearn.model_selection import train_test_split
df_full_train, df_test = train_test_split(shuffled_df_na_zero, test_size=0.2, random_state=42)
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=42)

### Extract the target vector
y_train = df_train.final_price.values
y_val = df_val.final_price.values
y_test = df_test.final_price.values

### remove target column from datasets to avoid accidental usage
del df_train['final_price']
del df_val['final_price']
del df_test['final_price']

### reset the index
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [46]:
### Extract the Feature Matrices
X_train = df_train.values
X_val = df_val.values
X_test = df_test.values

In [49]:
from sklearn.linear_model import Ridge
### Train the Ridge Regression
rr_na_zero = Ridge(alpha=0)
rr_na_zero.fit(X_train, y_train)
y_pred = rr_na_zero.predict(X_val)
y_pred

array([ 671.79972671, 1777.09759824, 1252.42819037, 1729.73645555,
        766.5220121 , 1771.17745541, 1777.09759824, 1794.85802675,
       1240.69110189,  731.00115508, 4638.92940427, 1252.42819037,
       1320.509833  , 1797.81809817,  922.19094779, 1777.09759824,
       1252.42819037, 1729.73645555,  703.51141809, 1252.42819037,
       1299.78933307,  922.19094779, 1714.19933166,  499.88835162,
       1729.73645555,  381.48549488, 2390.21094072,  719.16086941,
       1299.78933307, 1679.41524143,  922.19094779,  922.19094779,
        671.79972671,  671.79972671, 1299.78933307,  969.55209048,
       1252.42819037, 2339.8897266 , 1777.09759824,  922.19094779,
        969.55209048,  969.55209048, 1317.54976158, 1252.42819037,
       2339.8897266 , 1299.78933307,  671.79972671, 2378.37065504,
        922.19094779,  405.99164372,  922.19094779, 1299.78933307,
        957.815002  ,  922.19094779, 1729.73645555, 1729.73645555,
       2437.57208341, 1252.42819037, 2348.76994086, 2390.21094072,
       1252.42819037, 1320.509833  ,  671.79972671, 3356.46136237,
       1299.78933307, 1252.42819037, 2390.21094072, 1299.78933307,
        922.19094779, 2390.21094072,  506.68110542, 1729.73645555,
       1252.42819037, 1777.09759824, 1399.49921296, 1717.89616987,
       1240.69110189,  922.19094779,  907.3905907 , 1252.42819037,
        922.19094779, 1299.78933307,  969.55209048,  922.19094779,
       1252.42819037, 1729.73645555, 1287.94904739, 1679.41524143,
       1299.78933307,  671.79972671, 2390.21094072, 3317.98043393,
       1320.509833  , 1299.78933307,  922.19094779, 1299.78933307,
       1202.10697626, 1252.42819037, 1729.73645555,  969.55209048,
       1007.95711213,  922.19094779,  739.88136934, 2348.76994086,
        671.79972671,  671.79972671, 1320.509833  ,  984.35244758,
        318.88768961,  922.19094779, 4638.92940427, 1729.73645555,
        671.79972671,  531.3674536 ,  719.16086941, 1729.73645555,
       2372.45051221,  990.27259041, 1729.73645555,  910.4538593 ,
       1237.62783328,  922.19094779,  671.79972671,  922.19094779,
        969.55209048, 1299.78933307,  671.79972671, 1797.81809817,
       1794.85802675,  969.55209048, 3356.46136237,  671.79972671,
       2390.21094072, 1037.55782632, 2437.57208341, 1777.09759824,
        922.19094779, 2378.37065504, 1777.09759824,  719.16086941,
        922.19094779,  922.19094779,  719.16086941, 1210.98719051,
       1350.11054718, 1299.78933307, 2378.37065504, 2390.21094072,
        907.3905907 , 1210.98719051, 1252.42819037, 1777.09759824,
       1729.73645555,  922.19094779, 2339.8897266 , 1299.78933307,
       1717.89616987, 1299.78933307, 1252.42819037, 2378.37065504,
       1252.42819037, 2378.37065504,  922.19094779,  922.19094779,
        428.84663758, 2378.37065504,  922.19094779, 1202.10697626,
       1299.78933307, 4647.80961853, 2390.21094072, 1717.89616987,
       2339.8897266 , 1237.62783328, 1252.42819037, 1252.42819037,
        671.79972671,  719.16086941, 1729.73645555,  671.79972671,
        719.16086941,  531.3674536 , 1252.42819037,  922.19094779,
        671.79972671,  716.20079799, 1288.05224458, 1729.73645555,
       1299.78933307,  922.19094779, 2348.76994086, 1252.42819037,
       1729.73645555, 1679.41524143, 1777.09759824, 1252.42819037,
       3356.46136237, 1252.42819037, 1299.78933307, 1202.10697626,
       2378.37065504, 3326.86064818, 1252.42819037, 2378.37065504,
       1240.69110189,  499.88835162, 1240.5879047 , 2390.21094072,
       2339.8897266 , 2339.8897266 , 2390.21094072,  671.79972671,
        671.79972671,  671.79972671, 1252.42819037, 1252.42819037,
       1777.09759824,  922.19094779,  907.3905907 , 1252.42819037,
        990.27259041,  671.79972671, 1299.78933307, 1252.42819037,
        922.19094779, 3368.30164804, 1252.42819037, 1320.509833  ,
       1777.09759824,  922.19094779,  671.79972671, 2339.8897266 ,
       1777.09759824,  671.79972671,  671.79972671, 1317.54976158,
       2319.16922668, 2378.37065504, 1777.09759824, 1288.05224458,
        922.19094779, 1311.62961874,  671.79972671, 2339.8897266 ,
       2339.8897266 , 1252.42819037, 1002.0369693 ,  671.79972671,
       2390.21094072,  500.06855097, 1087.30956908, 1070.11861192,
        922.19094779, 1252.42819037, 1202.10697626, 1240.69110189,
        922.19094779, 1299.78933307, 1729.73645555,  922.19094779,
        748.76158359,  671.79972671, 1771.17745541, 1871.46167569,
        719.16086941, 1237.62783328, 1329.39004725, 1049.39811199,
       1252.42819037,  671.79972671,  922.19094779,  719.16086941,
        922.19094779, 1299.78933307,  593.96525887, 1729.73645555,
        836.91834801,  990.27259041, 2378.37065504, 1299.78933307,
       1729.73645555, 1240.5879047 ,  922.19094779, 1210.98719051,
        697.56775852, 1777.09759824, 1252.42819037, 2390.21094072,
        671.79972671, 1252.42819037,  922.19094779, 1252.42819037,
        593.96525887,  922.19094779, 2348.76994086, 1729.73645555,
        910.35066211, 1252.42819037,  922.19094779,  922.19094779,
        671.79972671, 1679.41524143, 1252.42819037, 1679.41524143,
       1252.42819037, 1252.42819037, 1299.78933307, 1252.42819037,
        614.6857588 , 1237.62783328, 1717.89616987, 1679.41524143,
       1711.97602704, 1729.73645555, 2425.73179774,  671.79972671,
        614.6857588 ,  922.19094779,  739.88136934, 1252.42819037,
        386.96933224, 2431.65194058, 1252.42819037, 1284.98897598,
       2339.8897266 , 1729.73645555,  731.00115508,  922.19094779,
       1729.73645555, 1240.5879047 ,  671.79972671, 2378.37065504,
        593.96525887, 1099.71932611, 1314.58969016, 2431.65194058,
       1252.42819037, 2339.8897266 , 2390.21094072,  593.96525887,
        671.79972671,  719.16086941, 1954.3436754 ,  546.60411618,
        671.79972671,  719.16086941, 1252.42819037,  671.79972671,
       1777.09759824,  671.79972671, 1729.73645555,  671.79972671,
        671.79972671, 1252.42819037, 1293.86919023, 1729.73645555,
       1320.509833  , 1252.42819037, 1729.73645555,  428.84663758,
       1252.42819037, 1252.42819037, 1252.42819037, 1252.42819037,
        719.16086941,  671.79972671, 2437.57208341,  671.79972671,
       1729.73645555, 1777.09759824,  531.3674536 , 1729.73645555,
        546.60411618, 1287.94904739,  792.6963807 ,  990.27259041,
        552.08795353,  531.3674536 ,  731.00115508, 1049.39811199,
        366.24883231, 1299.78933307, 1252.42819037, 1912.90267554,
       2437.57208341, 1240.5879047 ,  739.88136934,  719.16086941,
       1202.10697626,  719.16086941,  671.79972671,  671.79972671,
       2390.21094072,  922.19094779, 1252.42819037, 1299.78933307,
        500.06855097, 1679.41524143, 1729.73645555,  922.19094779,
       1252.42819037,  614.6857588 , 1202.10697626, 1288.05224458,
       1252.42819037,  969.55209048,  748.76158359, 1252.42819037,
       1202.10697626, 2339.8897266 , 1777.09759824,  405.99164372,
       2378.37065504, 1729.73645555, 4647.80961853,  922.19094779,
       1202.10697626, 1299.78933307,  871.86973367, 1679.41524143,
        671.79972671, 2390.21094072,  990.27259041, 1252.42819037,
        822.76336905, 1252.42819037,  922.19094779,  922.19094779,
       2390.21094072,  969.55209048, 1729.73645555, 1237.62783328])

In [50]:
### RMSE of Validation vs Training
from sklearn.metrics import mean_squared_error
rmse_rr_na_zero = round(np.sqrt(mean_squared_error(y_val, y_pred)),2)
rmse_rr_na_zero
### 616.83

np.float64(616.83)

In [56]:
r = [0, 0.01, 0.1, 1, 5, 10, 100]

rmse_scores = {}

for reg in r:
    rr_na_zero = Ridge(alpha=reg)
    rr_na_zero.fit(X_train, y_train)
    y_pred = rr_na_zero.predict(X_val)
    rmse_rr_na_zero = round(np.sqrt(mean_squared_error(y_val, y_pred)),2)
    rmse_scores[reg] = rmse_rr_na_zero

rmse_scores

{0: np.float64(616.83),
 0.01: np.float64(616.83),
 0.1: np.float64(616.83),
 1: np.float64(616.83),
 5: np.float64(616.84),
 10: np.float64(616.84),
 100: np.float64(616.98)}